.frame36 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(2px 12px 10px rgba(89, 117, 166, 0.039));
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  padding: 20px 16px;
}
.frame36 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame36 > :global(.__wab_flex-container) > *,
.frame36 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame36 > :global(.__wab_flex-container) > picture > img,
.frame36
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame37 {
  width: 295px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame37 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 63px);
  width: calc(100% + 63px);
}
.frame37 > :global(.__wab_flex-container) > *,
.frame37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame37 > :global(.__wab_flex-container) > picture > img,
.frame37
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 63px;
}
.frame38 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame38 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame38 > :global(.__wab_flex-container) > *,
.frame38 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame38 > :global(.__wab_flex-container) > picture > img,
.frame38
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.group3 {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__dXkW9 {
  object-fit: cover;
  max-width: 100%;
  color: #fafafa;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.maskGroup3 {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.image10 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 59px;
  height: 74px;
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
}
.frame39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame39 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame39 > :global(.__wab_flex-container) > *,
.frame39 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame39 > :global(.__wab_flex-container) > picture > img,
.frame39
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame40 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame40 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame40 > :global(.__wab_flex-container) > *,
.frame40 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame40 > :global(.__wab_flex-container) > picture > img,
.frame40
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___7Ziau {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(12, 26, 51, 1);
  position: relative;
}
.text__uCLvn {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.frame41 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame41 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame41 > :global(.__wab_flex-container) > *,
.frame41 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame41 > :global(.__wab_flex-container) > picture > img,
.frame41
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.vuesaxLinearLocation3 {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearLocation4 {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__oZak {
  object-fit: cover;
  max-width: 100%;
  color: #8696bb;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__m7XOx {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.svg___8ZCny {
  object-fit: cover;
  max-width: 100%;
  color: #f5f5f5;
  width: 295px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame42 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame42 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame42 > :global(.__wab_flex-container) > *,
.frame42 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame42 > :global(.__wab_flex-container) > picture > img,
.frame42
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.frame43 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.frame43 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame43 > :global(.__wab_flex-container) > *,
.frame43 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame43 > :global(.__wab_flex-container) > picture > img,
.frame43
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.vuesaxLinearClock7 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearClock8 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__c1Uqb {
  object-fit: cover;
  max-width: 100%;
  color: #feb052;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__ww6N {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(253, 175, 81, 1);
  position: relative;
}
.frame44 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.frame44 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame44 > :global(.__wab_flex-container) > *,
.frame44 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame44 > :global(.__wab_flex-container) > picture > img,
.frame44
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.vuesaxLinearClock9 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearClock10 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__eSt9 {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__jUntV {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(71, 147, 253, 1);
  position: relative;
}
