.frame18 {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}
.frame18 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame18 > :global(.__wab_flex-container) > *,
.frame18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame18 > :global(.__wab_flex-container) > picture > img,
.frame18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.vuesaxBoldSun {
  background: rgba(249, 249, 249, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 24px;
}
.vuesaxBoldSun > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.vuesaxBoldSun > :global(.__wab_flex-container) > *,
.vuesaxBoldSun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.vuesaxBoldSun > :global(.__wab_flex-container) > picture > img,
.vuesaxBoldSun
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.vuesaxBoldSun2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
