.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 64px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  min-width: 0;
}
.home {
  background: rgba(255, 255, 255, 1);
  width: 375px;
  height: 812px;
  display: block;
  overflow: hidden;
  padding-top: 0px;
}
.frame17 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 152px;
  left: 24px;
  flex-direction: column;
}
.frame17 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.frame17 > :global(.__wab_flex-container) > *,
.frame17 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame17 > :global(.__wab_flex-container) > picture > img,
.frame17
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.frame24 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame24 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.frame24 > :global(.__wab_flex-container) > *,
.frame24 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame24 > :global(.__wab_flex-container) > picture > img,
.frame24
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.frame23 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame23 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame23 > :global(.__wab_flex-container) > *,
.frame23 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame23 > :global(.__wab_flex-container) > picture > img,
.frame23
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame11 {
  background: rgba(71, 147, 253, 1);
  width: 327px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px;
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame16 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame12 > :global(.__wab_flex-container) > *,
.frame12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame12 > :global(.__wab_flex-container) > picture > img,
.frame12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.group1 {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__dWd {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.maskGroup {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.image8 {
  background: url("./images/image8.png") center center / cover no-repeat;
  transform: translate(0.16000000000000014px, 0.3599999999999999px);
  width: 59px;
  height: 74px;
  display: block;
  position: absolute;
  top: -3px;
  left: -7px;
}
.frame10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__iZgre {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__hyJdI {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(202, 224, 255, 1);
  position: relative;
}
.vuesaxLinearArrowRight {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearArrowRight2 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__fuOqj {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___3TCeb {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 287px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame15 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame15 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame15 > :global(.__wab_flex-container) > *,
.frame15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame15 > :global(.__wab_flex-container) > picture > img,
.frame15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.frame14 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.frame14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame14 > :global(.__wab_flex-container) > *,
.frame14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame14 > :global(.__wab_flex-container) > picture > img,
.frame14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.vuesaxLinearCalendar2 {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearCalendar22 {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__rrAop {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__jyce9 {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame13 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.frame13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame13 > :global(.__wab_flex-container) > *,
.frame13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame13 > :global(.__wab_flex-container) > picture > img,
.frame13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.vuesaxLinearClock {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearClock2 {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__t2UK {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__cEfWp {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame9 {
  background: rgba(249, 249, 249, 1);
  width: 327px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 12px;
  padding: 16px;
}
.frame9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame9 > :global(.__wab_flex-container) > *,
.frame9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9 > :global(.__wab_flex-container) > picture > img,
.frame9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.vuesaxLinearSearchNormal {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearSearchNormal2 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___6RJFu {
  object-fit: cover;
  max-width: 100%;
  color: #8696bb;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__js6J {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.frame22 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame22 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 13px);
  width: calc(100% + 13px);
}
.frame22 > :global(.__wab_flex-container) > *,
.frame22 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame22 > :global(.__wab_flex-container) > picture > img,
.frame22
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 13px;
}
.frame18 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame18 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame18 > :global(.__wab_flex-container) > *,
.frame18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame18 > :global(.__wab_flex-container) > picture > img,
.frame18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.vuesaxBoldSun {
  background: rgba(249, 249, 249, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 24px;
}
.vuesaxBoldSun > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.vuesaxBoldSun > :global(.__wab_flex-container) > *,
.vuesaxBoldSun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.vuesaxBoldSun > :global(.__wab_flex-container) > picture > img,
.vuesaxBoldSun
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.vuesaxBoldSun2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__di8V {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__x1HYs {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.frame19 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame19 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame19 > :global(.__wab_flex-container) > *,
.frame19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame19 > :global(.__wab_flex-container) > picture > img,
.frame19
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.vuesaxBoldProfileAdd {
  background: rgba(249, 249, 249, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 24px;
}
.vuesaxBoldProfileAdd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.vuesaxBoldProfileAdd > :global(.__wab_flex-container) > *,
.vuesaxBoldProfileAdd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.vuesaxBoldProfileAdd > :global(.__wab_flex-container) > picture > img,
.vuesaxBoldProfileAdd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.vuesaxBoldProfileAdd2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__yo6Qa {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__uze9X {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.frame20 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame20 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame20 > :global(.__wab_flex-container) > *,
.frame20 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame20 > :global(.__wab_flex-container) > picture > img,
.frame20
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.vuesaxBoldLink {
  background: rgba(249, 249, 249, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 24px;
}
.vuesaxBoldLink > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.vuesaxBoldLink > :global(.__wab_flex-container) > *,
.vuesaxBoldLink > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.vuesaxBoldLink > :global(.__wab_flex-container) > picture > img,
.vuesaxBoldLink
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.vuesaxBoldLink2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.link {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___6GxwB {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  transform: scale(1.0005563452399868, 0.9998487389133986)
    rotate(-45.040491710229254deg) skew(-0.04046307398010047deg, 0deg)
    translate(0.03500000000000014px, 0.18099999999999739px);
  width: 19.997px;
  height: 11px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 15px;
  left: 1px;
}
.text__a3Wrh {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.frame21 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame21 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame21 > :global(.__wab_flex-container) > *,
.frame21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame21 > :global(.__wab_flex-container) > picture > img,
.frame21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.vuesaxBoldHospital {
  background: rgba(249, 249, 249, 1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 24px;
}
.vuesaxBoldHospital > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.vuesaxBoldHospital > :global(.__wab_flex-container) > *,
.vuesaxBoldHospital > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.vuesaxBoldHospital > :global(.__wab_flex-container) > picture > img,
.vuesaxBoldHospital
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.vuesaxBoldHospital2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg___8MGg {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__hVjza {
  display: block;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.frame25 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame25 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame25 > :global(.__wab_flex-container) > *,
.frame25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame25 > :global(.__wab_flex-container) > picture > img,
.frame25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__wUIlK {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(12, 26, 51, 1);
  position: relative;
}
.frame33 {
  width: 327px;
  height: 308px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.frame26 {
  background: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 160px;
  left: 0px;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px 16px;
}
.frame26 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame26 > :global(.__wab_flex-container) > *,
.frame26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame26 > :global(.__wab_flex-container) > picture > img,
.frame26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame29 {
  width: 295px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame29 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 63px);
  width: calc(100% + 63px);
}
.frame29 > :global(.__wab_flex-container) > *,
.frame29 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame29 > :global(.__wab_flex-container) > picture > img,
.frame29
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 63px;
}
.frame27 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame27 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame27 > :global(.__wab_flex-container) > *,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame27 > :global(.__wab_flex-container) > picture > img,
.frame27
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.group2 {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__xsccZ {
  object-fit: cover;
  max-width: 100%;
  color: #fafafa;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.maskGroup2 {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.image9 {
  background: url("./images/image8.png") center center / cover no-repeat;
  transform: translate(0.16000000000000014px, 0.3599999999999999px);
  width: 59px;
  height: 74px;
  display: block;
  position: absolute;
  top: -3px;
  left: -7px;
}
.frame28 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame28 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame28 > :global(.__wab_flex-container) > *,
.frame28 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame28 > :global(.__wab_flex-container) > picture > img,
.frame28
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame30 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame30 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame30 > :global(.__wab_flex-container) > *,
.frame30 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame30 > :global(.__wab_flex-container) > picture > img,
.frame30
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___7YVW {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(12, 26, 51, 1);
  position: relative;
}
.text__ogtsp {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.frame32 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame32 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame32 > :global(.__wab_flex-container) > *,
.frame32 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame32 > :global(.__wab_flex-container) > picture > img,
.frame32
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.vuesaxLinearLocation {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearLocation2 {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__ezO7V {
  object-fit: cover;
  max-width: 100%;
  color: #8696bb;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__qqyV4 {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.svg__qdJkE {
  object-fit: cover;
  max-width: 100%;
  color: #f5f5f5;
  width: 295px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame31 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame31 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame31 > :global(.__wab_flex-container) > *,
.frame31 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame31 > :global(.__wab_flex-container) > picture > img,
.frame31
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.frame34 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.frame34 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame34 > :global(.__wab_flex-container) > *,
.frame34 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame34 > :global(.__wab_flex-container) > picture > img,
.frame34
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.vuesaxLinearClock3 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearClock4 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__ssyfH {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__zXZ {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(71, 147, 253, 1);
  position: relative;
}
.frame35 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.frame35 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame35 > :global(.__wab_flex-container) > *,
.frame35 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame35 > :global(.__wab_flex-container) > picture > img,
.frame35
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.vuesaxLinearClock5 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearClock6 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___853Tc {
  object-fit: cover;
  max-width: 100%;
  color: #feb052;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__mK77T {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(253, 175, 81, 1);
  position: relative;
}
.frame36 {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(2px 12px 10px rgba(89, 117, 166, 0.039));
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px 16px;
}
.frame36 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.frame36 > :global(.__wab_flex-container) > *,
.frame36 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame36 > :global(.__wab_flex-container) > picture > img,
.frame36
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.frame37 {
  width: 295px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame37 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 63px);
  width: calc(100% + 63px);
}
.frame37 > :global(.__wab_flex-container) > *,
.frame37 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame37 > :global(.__wab_flex-container) > picture > img,
.frame37
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 63px;
}
.frame38 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame38 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame38 > :global(.__wab_flex-container) > *,
.frame38 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame38 > :global(.__wab_flex-container) > picture > img,
.frame38
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.group3 {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svg__sDPbi {
  object-fit: cover;
  max-width: 100%;
  color: #fafafa;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.maskGroup3 {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.image10 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 59px;
  height: 74px;
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
}
.frame39 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame39 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame39 > :global(.__wab_flex-container) > *,
.frame39 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame39 > :global(.__wab_flex-container) > picture > img,
.frame39
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame40 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame40 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame40 > :global(.__wab_flex-container) > *,
.frame40 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame40 > :global(.__wab_flex-container) > picture > img,
.frame40
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__vxVzo {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(12, 26, 51, 1);
  position: relative;
}
.text__cpVqc {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.frame41 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame41 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame41 > :global(.__wab_flex-container) > *,
.frame41 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame41 > :global(.__wab_flex-container) > picture > img,
.frame41
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.vuesaxLinearLocation3 {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearLocation4 {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__jbyq7 {
  object-fit: cover;
  max-width: 100%;
  color: #8696bb;
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__rTftU {
  display: block;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.svg__r6GeR {
  object-fit: cover;
  max-width: 100%;
  color: #f5f5f5;
  width: 295px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.frame42 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.frame42 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame42 > :global(.__wab_flex-container) > *,
.frame42 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame42 > :global(.__wab_flex-container) > picture > img,
.frame42
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.frame43 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.frame43 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame43 > :global(.__wab_flex-container) > *,
.frame43 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame43 > :global(.__wab_flex-container) > picture > img,
.frame43
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.vuesaxLinearClock7 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearClock8 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__kIwM {
  object-fit: cover;
  max-width: 100%;
  color: #feb052;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__l72Zd {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(253, 175, 81, 1);
  position: relative;
}
.frame44 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
}
.frame44 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.frame44 > :global(.__wab_flex-container) > *,
.frame44 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame44 > :global(.__wab_flex-container) > picture > img,
.frame44
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.vuesaxLinearClock9 {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearClock10 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__aUxug {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__yDn8N {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(71, 147, 253, 1);
  position: relative;
}
.frame8 {
  width: 327px;
  height: auto;
  display: flex;
  position: absolute;
  top: 64px;
  left: 24px;
  flex-direction: row;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 161px);
  width: calc(100% + 161px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 161px;
}
.frame7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 6px);
  height: calc(100% + 6px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 6px;
}
.text__dvVbm {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(133, 149, 186, 1);
  position: relative;
}
.text__rrnl7 {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(12, 26, 51, 1);
  position: relative;
}
.frame {
  width: 56px;
  height: 56px;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: var(--image-oX9YasaWrVTL);
  -webkit-mask-size: 56px 56px;
  -webkit-mask-repeat: no-repeat;
  flex-shrink: 0;
}
.group {
  transform: translate(0px, -0.01399999999999979px);
  width: 83px;
  height: 75px;
  display: block;
  position: absolute;
  top: -3px;
  left: 0px;
}
.svg___0ZcW4 {
  object-fit: cover;
  max-width: 100%;
  color: #feb052;
  transform: translate(0px, 0.01399999999999979px);
  width: 56px;
  height: 56px;
  display: block;
  position: absolute;
  top: 4%;
  left: 0%;
}
.svg__cpR1M {
  object-fit: cover;
  max-width: 100%;
  color: #4894fe;
  transform: scale(0.9994738615891863, 0.9993517973665103)
    rotate(-7.011249748326588deg) skew(-0.05689725050134292deg, 0deg)
    translate(-0.3150000000000004px, 0.1899999999999995px);
  width: 68px;
  height: 68px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 10.68%;
  left: 9.68%;
}
.svg__um2AS {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: scale(0.9994063237742695, 0.9993532922907384)
    rotate(-3.0399061987460927deg) skew(-0.057249123634442005deg, 0deg)
    translate(0.24399999999999977px, -0.18599999999999994px);
  width: 21px;
  height: 12.055px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 24px;
  left: 22px;
}
.statusBarIPhone1313Pro {
  width: 375px;
  height: 44px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.svg__a6LpZ {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 164px;
  height: 31px;
  display: block;
  position: absolute;
  top: -2px;
  left: 106px;
}
.rightSide {
  transform: translate(-0.3340000000000032px, 0.3299999999999983px);
  width: 67px;
  height: 12px;
  display: block;
  position: absolute;
  top: 17px;
  left: 290px;
}
.svg__tz2Qt {
  object-fit: cover;
  max-width: 100%;
  color: #0d1b34;
  transform: translate(0.3340000000000032px, 0.0030000000000001137px);
  width: 24.328px;
  height: 11.333px;
  display: block;
  position: absolute;
  top: 0px;
  left: 42px;
}
.svg___8ZRvH {
  object-fit: cover;
  max-width: 100%;
  color: #0d1b34;
  transform: translate(0.02800000000002001px, 0px);
  width: 16px;
  height: 11px;
  display: block;
  position: absolute;
  top: 0px;
  left: 22px;
}
.svg___2HasX {
  object-fit: cover;
  max-width: 100%;
  color: #0d1b34;
  transform: translate(0px, 0.3360000000000021px);
  width: 17px;
  height: 11px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.leftSide {
  width: 54px;
  height: 21px;
  display: block;
  position: absolute;
  top: 12px;
  left: 24px;
}
.time {
  width: 54px;
  height: 21px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 24px;
}
.text__b5F0B {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "SF UI Text";
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1px;
  left: 0px;
  width: 54px;
  height: 20px;
}
.frame6 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 1px 0px 0px rgba(246, 246, 246, 1);
  width: 375px;
  height: auto;
  display: flex;
  position: absolute;
  top: 732px;
  left: 0px;
  flex-direction: row;
  padding: 16px 24px;
}
.frame6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.frame6 > :global(.__wab_flex-container) > *,
.frame6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6 > :global(.__wab_flex-container) > picture > img,
.frame6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.frame1 {
  background: rgba(98, 179, 255, 0.1);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  border-radius: 12px;
  padding: 12px;
}
.frame1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame1 > :global(.__wab_flex-container) > *,
.frame1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1 > :global(.__wab_flex-container) > picture > img,
.frame1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.home2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.home3 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__jdLcU {
  object-fit: cover;
  max-width: 100%;
  color: #63b4ff;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__uu25F {
  display: block;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(98, 179, 255, 1);
  position: relative;
}
.frame4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  padding: 12px;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.vuesaxLinearCalendar23 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearCalendar24 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__mkldb {
  object-fit: cover;
  max-width: 100%;
  color: #8696bb;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  padding: 12px;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.vuesaxLinearMessage {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearMessage2 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__f2MSe {
  object-fit: cover;
  max-width: 100%;
  color: #8696bb;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.frame3 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  padding: 12px;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.vuesaxLinearProfile {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearProfile2 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___8HMNd {
  object-fit: cover;
  max-width: 100%;
  color: #8696bb;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
